Working with series data type in python

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
a1=['a','b','c']
my_data=[50,70,30]
ar=np.array(my_data)
d={'a':50,'b':70,'c':30}

In [4]:
pd.Series(data=my_data, index=a1)

a    50
b    70
c    30
dtype: int64

In [5]:
#same thing could be done with
pd.Series(my_data,a1)

a    50
b    70
c    30
dtype: int64

In [6]:
pd.Series(d)

a    50
b    70
c    30
dtype: int64

In [7]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [8]:
series1=pd.Series([1,2,3,4],['A','B','C','D'])

In [9]:
series1

A    1
B    2
C    3
D    4
dtype: int64

In [10]:
series1['A']

1

## Pandas-Dataframes

In [11]:
import numpy as np
import pandas as pd

In [12]:
from numpy.random import randn

In [13]:
np.random.seed(101)

In [14]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
#if we want to grab the column 'W',output gives a series
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [16]:
#another way to grab a column lie sql
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [17]:
#if we want to grab multiple column ,output gives a dataframe
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
#add a column
df['H']=df['W']+df['Z']

In [20]:
df

          W         X         Y         Z         H
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [21]:
#delete a column
df.drop('H',axis=1)
#but if you run again the dataframe new column is still there, so we have to add another argument

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [22]:
df.drop('H',axis=1,inplace=True) 
#this parmanently delete the column

In [23]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
#selecting rows,labelbased index
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [25]:
#index based
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [26]:
df.loc['B','Y']

-0.8480769834036315

In [27]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

# More on dataframes

In [28]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [29]:
#conditional selection
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [30]:
booldf=df>0

In [31]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [32]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [33]:
#for aparticular row/column
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [34]:
df[df['W']>0]
#gives a result without c column as it was false for the condition

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [35]:
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [36]:
df[df['W']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [37]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [38]:
boolser=df['W']>0

In [39]:
rs=df[boolser]

In [40]:
rs

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
#multiple condition
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [42]:
df[(df['W']>0) | (df['Y']>1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [44]:
#spliting into a series
newind='CA NY WY OR CO'.split()

In [45]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [46]:
#add this into a column to our dataframe
df['States']=newind

In [47]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [48]:
#making a column into a index
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

# DataFrames once again

multiltvel index or index higher key

In [49]:
import numpy as np
import pandas as pd

In [50]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hi_index=list(zip(outside,inside))
hi_index=pd.MultiIndex.from_tuples(hi_index)

In [51]:
df=pd.DataFrame(randn(6,2),hi_index,['A','B'])

In [52]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [53]:
df.loc['G1']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [54]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [55]:
df.index.names

FrozenList([None, None])

In [56]:
df.index.names=['Groups','Numbers']

In [57]:
df

                       A         B
Groups Numbers
G1     1        0.302665  1.693723
       2       -1.706086 -1.159119
       3       -0.134841  0.390528
G2     1        0.166905  0.184502
       2        0.807706  0.072960
       3        0.638787  0.329646

In [58]:
df.loc['G2'].loc[2]['B']

0.07295967531703869

In [59]:
#cross function
#grab everything under G1
df.xs('G1')

                A         B
Numbers
1        0.302665  1.693723
2       -1.706086 -1.159119
3       -0.134841  0.390528

In [60]:
#or
df.loc['G1']

                A         B
Numbers
1        0.302665  1.693723
2       -1.706086 -1.159119
3       -0.134841  0.390528

In [61]:
#grab everything umder number 1
df.xs(1,level='Numbers')

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502