Working with series data type in python

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
a1=['a','b','c']
my_data=[50,70,30]
ar=np.array(my_data)
d={'a':50,'b':70,'c':30}

In [4]:
pd.Series(data=my_data, index=a1)

a    50
b    70
c    30
dtype: int64

In [5]:
#same thing could be done with
pd.Series(my_data,a1)

a    50
b    70
c    30
dtype: int64

In [6]:
pd.Series(d)

a    50
b    70
c    30
dtype: int64

In [7]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [8]:
series1=pd.Series([1,2,3,4],['A','B','C','D'])

In [9]:
series1

A    1
B    2
C    3
D    4
dtype: int64

In [10]:
series1['A']

1

## Pandas-Dataframes

In [11]:
import numpy as np
import pandas as pd

In [12]:
from numpy.random import randn

In [13]:
np.random.seed(101)

In [14]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
#if we want to grab the column 'W',output gives a series
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [16]:
#another way to grab a column lie sql
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [17]:
#if we want to grab multiple column ,output gives a dataframe
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
#add a column
df['H']=df['W']+df['Z']

In [20]:
df

          W         X         Y         Z         H
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [21]:
#delete a column
df.drop('H',axis=1)
#but if you run again the dataframe new column is still there, so we have to add another argument

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [22]:
df.drop('H',axis=1,inplace=True) 
#this parmanently delete the column

In [23]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
#selecting rows,labelbased index
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [25]:
#index based
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [26]:
df.loc['B','Y']

-0.8480769834036315

In [27]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077